@use './variables.scss' as *;

.header {
    // height: 100px;
    width: 100vw;

    background-color: black;
}

.main {
    height: calc(100vh);
    min-height: 350px;
    width: 100vw;
    min-width: 350px;

    display: grid;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;

    &__data {
        height: 50px;
        width: 220px;
        align-self: center;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.footer {
    // height: 75px;
    width: 100vw;

    background-color: black;
}
