@use './variables.scss' as *;

.header {
    // height: 100px;
    width: 100vw;

    background-color: black;
}

.main {
    height: calc(100vh);
    min-height: 350px;
    width: 100vw;
    min-width: 350px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.footer {
    // height: 75px;
    width: 100vw;

    background-color: black;
}
