@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$footer_height: 0px;
$footer_width: 100vw;
$header_height: 50px;
$header_width: 100vw;

$background_color: #0f0c0c;
$border_color: #5c5c5f;
$font_color: #f0f5f0;